JWT_SECRET=dev-super-secret
DATABASE_URL=postgresql+psycopg2://neondb_owner:YOUR_PASSWORD@YOUR_NEON_HOST/neondb?sslmode=require&channel_binding=require
ALLOWED_ORIGINS=*

TELEGRAM_BOT_TOKEN=
ADMIN_TELEGRAM_ID=
